@font-face {
  font-family: "Sora";
  src: url("../public/fonts/Sora-VariableFont_wght.ttf") format("truetype");
}

:root {
  --max-width: 1179px;

  /* colors */
  --purple: #4c1d95;
  --purple-light: #A78BFA;
  --dark: #262626;
  --smoky: #737373;
  --dark-smoky: #525252;
  --light: #FAFAFA;

  --dark-mood: #171717;
  --dark-mood-dark: #525252;
  --dark-mood-purple: #C4B5FD;
  --dark-mood-purple-light: #DDD6FE;

}

html,
body {
  padding: 0;
  margin: 0;
}

.w-170px{
  width: 170px;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--dark);
  direction: ltr;
  text-align: left;
  padding: 30px;
  background-color: var(--light);
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 span {
  color: var(--purple-light);
}

nav h2 a {
  all: unset;
}

nav .links a, nav .links span {
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 15px;
}

nav .theme {
  color: var(--dark);
  font-size: 20px;
}

nav .menu svg {
  font-size: 30px;
  cursor: pointer;
}

.hero {
  height: -webkit-calc(100vh - 68.5px);
  height: -moz-calc(100vh - 68.5px);
  height: calc(100vh - 68.5px);
}

.hero h1 {
  font-size: 56px;
  font-weight: bold;
  font-family: "Sora";
}

.hero h6 {
  font-size: 32px;
  color: var(--purple);
  margin-bottom: 30px;
  font-weight: bold;
}

.hero .buttons a svg {
  font-size: 20px;
}

.hero .buttons a .icon {
  min-width: 44px;
  padding: 8px;
}

.hero .scroll {
  position: absolute;
  bottom: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero .scroll div {
  cursor: pointer;
}

.hero .scroll p {
  font-size: 12px;
  color: var(--smoky);
  margin-bottom: -1px;
}

.hero .scroll svg {
  font-size: 18px;
  color: var(--dark);
}

.projects {
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
}

.projects h1 {
  font-size: 56px;
  font-weight: bold;
  font-family: "Sora";
  text-align: center;
  margin-bottom: 50px;
}

.project-item {
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  background-color: var(--light);
}

.project-item img {
  width: 100%;
}

.project-item h4 {
  font-size: 26px;
  font-weight: bold;
  font-family: "Sora";
  margin-bottom: 16px;
}

.project-item p {
  font-size: 16px;
  color: var(--dark-smoky);
  margin-bottom: 0;
}

.project-item .languages {
  margin: 24px 0;
}

.project-item .languages svg {
  font-size: 24px;
  color: var(--dark);
  margin-right: 16px;
}

.summary {
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
}

.summary h4 {
  font-size: 34px;
  font-family: "Sora";
  font-weight: bold;
  margin-bottom: 19px;
}

.summary p {
  font-size: 20px;
  margin-bottom: 19px;
}

.summary .rectangle {
  width: 357px;
  height: 500px;
  background-color: var(--purple-light);
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.summary img {
  border-radius: 5px;
  position: relative;
  max-width: 357px;
  z-index: 2;
  right: 20px;
  top: 20px;
}

footer {
  max-width: 904px;
  margin: 0 auto;
  margin-top: 100px;
}

footer h4 {
  font-size: 28px;
  font-family: "Sora";
  font-weight: bold;
}

footer .buttons button {
  min-width: 44px;
  height: 44px;
  padding: 8px;
  background-color: var(--dark);
  color: #fff;
  font-size: 20px;
}

footer h6 {
  font-size: 18px;
}

footer p {
  font-size: 16px;
  color: var(--smoky);
  text-align: center;
}

footer .back-top {
  color: var(--dark);
}

footer .back-top svg {
  font-size: 20px;
}


.about {
  max-width: 1049px;
  margin: 0 auto;
  margin-top: 100px;
}

.about h1 {
  font-size: 56px;
  font-weight: bold;
  font-family: "Sora";
  text-align: center;
  margin-bottom: 80px;
}

.about h3 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Sora";
  margin-bottom: 20px;
}

.about .qoute p {
  font-size: 18px;
  line-height: 1.8;
}

.about .qoute img {
  border-radius: 3px;
  max-width: 100%;
}

.about .skills, .about .interests {
  margin-top: 150px;
}

.about .skills .item{
  margin: 20px 15px 0;
  text-align: center;
  min-width: 89px;
}

.about .skills .item h5 {
  font-size: 30px;
  margin-bottom: 15px;
}

.about .skills .item h6 {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* icon colors */
.about .skills .item .html {
  color: #f06529;
}
.about .skills .item .css {
  color: #264de4;
}
.about .skills .item .sass {
  color: #cd6792;
}
.about .skills .item .bootstrap {
  color: #8311f6;
}
.about .skills .item .js {
  color: #f0db4f;
}
.about .skills .item .jq {
  color: #205d96;
}
.about .skills .item .react {
  color: #61dbfb;
}
.about .skills .item .next {
  color: #000;
}
.about .skills .item .mui {
  color: #007bf7;
}
.about .skills .item .php {
  color: #7476ad;
}
.about .skills .item .laravel {
  color: #fb503b;
}
.about .skills .item .mysql {
  color: #00758f;
}

.box h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Sora";
  margin-bottom: 20px;
  text-align: center;
}

.ball {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #9954ff2e 0%, #fafafa00 70%);
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

/* dark mood */
.dark .ball {
  background: radial-gradient(circle, #bc90fe1d 0%, #1717175e 75%);
}
.dark {
  background-color: var(--dark-mood);
  color: var(--light);
}
.dark .box {
  background-color: var(--dark-mood-dark);
  color: var(--light);
}
.dark nav .links a, .dark nav .links span, .dark nav .theme, .dark .hero .scroll svg, .dark .project-item p, .dark .project-item .languages svg, .dark footer .back-top, .dark .about .skills .item .next {
  color: var(--light);
}
.dark .project-item {
  background-color: var(--dark-mood);
  border-color: var(--dark-mood-dark);
}
.dark .hero h6 {
  color: var(--dark-mood-purple);
}
.dark .hero .scroll p {
  color: #c6c6c6;
}
.dark .summary .rectangle {
  background-color: var(--dark-mood-purple);
}
.dark footer .buttons button {
  background-color: var(--dark-mood-purple-light);
  color: #000;
}
.dark .MuiPaper-root, .dark .MuiPaper-elevation, .dark .MuiPaper-elevation16, .dark .MuiDrawer-paper, .dark .MuiDrawer-paperAnchorRight {
  background-color: var(--dark);
}
/* dark mood */



/* mobile view */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
  .hero h1, .projects h1, .about h1 {
    font-size: 32px;
  }
  .projects h1, .about h1 {
    margin-bottom: 25px;
  }
  .hero {
    height: auto;
  }
  .hero .scroll {
    /* display: none; */
    position: relative;
    bottom: 0;
  }
  .hero img {
    max-width: 500px;
  }
  .about h1 {
    margin-bottom: 40px;
  }
  .hero h6 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  .hero .buttons button {
    font-size: 14px !important;
    padding: 4px;
  }
  .project-item h4 {
    font-size: 20px;
  }
  .project-item p {
    font-size: 14px;
  }
  .project-item .links button {
    font-size: 12px;
  }
  .projects, .summary, .footer, .about {
    margin-top: 40px;
  }
  .about .skills, .about .interests {
    margin-top: 50px;
  }
  .summary p {
    font-size: 16px;
  }
  .summary .rectangle {
    display: none;
  }
  .summary img {
    max-width: 100%;
    right: 0;
    top: 0;
  }
  footer h6 {
    font-size: 16px;
  }
  footer p {
    font-size: 14px;
    margin-bottom: 0
  }
  .about h3 {
    font-size: 24px;
    margin: 10px 0 5px;
  }
  .about .qoute p {
    font-size: 16px;
    margin-bottom: 0;
  }
  .about .skills .item{
    min-width: 60px;
  }
  .about .skills .item h6 {
    font-size: 9px;
  }
  footer {
    margin-top: 60px;
  }
  .box h1 {
    font-size: 28px;
  }
  .box button {
    font-size: 12px !important;
  }
  .ball {
    display: none;
  }
}